.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.projects-wrapper h2 {
  width: 100%;
  background: #151515;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  font-family: Oxanium;
  transition: 1s;
  cursor: default;
  text-align: center;
  font-size: 3.4vw;
}

.card {
  position: relative;
  height: 70%;
  width: 32%;
}

.card:hover .img-card{
  opacity: 0.1;
  filter: grayscale(0.25);
  transition: 0.5s;
}
.img-card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: 0.5s;
  filter: grayscale(0.5);
  pointer-events: none;
}

.img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gitBtn-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 165px;
  background-color: #24292e;
  color: #f6f8fa;
  font-family: Poppins;
  margin-top: 1em;
  border-radius: 8px;
  transition: 0.5s;
}
.gitBtn-wrapper-empty {
  display: none;
}
.gitBtn-wrapper p {
  color: #f6f8fa;
}
.gitBtn-wrapper:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 28px 5px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 28px 5px rgba(0, 0, 0, 0.29);
}
.github-button {
  font-size: 25px;
  color: #f6f8fa;
}

.card-empty {
  position: relative;
  height: 70%;
  width: 32%;
}
/* TODO: */
.card-empty::before, .card-empty::after, .card-empty>:first-child::before, .card-empty>:first-child::after {
  position: absolute;
  width: 55px;
  height: 55px;
  border-color: #15151530; 
  border-style: solid;
  content: '';
}
.card-empty::before {
  top: 0;
  left :0;
  border-width: 0.25vw 0 0 0.25vw
}
.card-empty:after {
  top: 0;
  right: 0;
  border-width: 0.25vw 0.25vw 0 0
}
.card-empty>:first-child::before {
  bottom: 0;
  right: 0;
  border-width: 0 0.25vw 0.25vw 0
}
.card-empty>:first-child::after {
  bottom: 0;
  left: 0;
  border-width: 0 0 0.25vw 0.25vw
}

.img-card-empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-card {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 25%;
  text-align: center;
  font-family: Oxanium, sans-serif;
  font-size: 1vw;
  text-shadow: 2px 7px 13px rgba(0, 0, 0, 0.6);
}
.info-card p {
  font-family: "Poppins", sans-serif;
}

.empty-info-card {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 25%;
  text-align: center;
  font-family: Oxanium, sans-serif;
  font-size: 1vw;
  color: #15151536;
}

@media only screen and (max-width: 600px) {
  .projects-wrapper {
    flex-direction:column ;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .projects-wrapper h2 {
    width: 100%;
    font-size: 8vw;
    height: 8%;
  }
  .projects-wrapper .card {
    width: 100%;
    height: 15%;
    border-right: none;
    margin-bottom: 95px;
  }
  .projects-wrapper .card-empty {
    width: 100%;
    height: 17%;
    border-right: none;
  }
  .info-card {
    font-size: 2vw;
  }
  .info-card p {
    font-size: 3vw;
  }
  .gitBtn-wrapper {
    top: 19vh;
    margin-top: 0;
    position: absolute;
    padding: 5px 5px;
    width: 150px;
    font-family: Poppins;
    border-radius: 2.5%;
    text-decoration: inherit;
  }
  .gitBtn-wrapper-empty {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    background-color: #24292e;
    color: #f6f8fa;
    font-family: Poppins;
    margin-block: 24px;
    margin-inline: auto;
    border-radius: 8px;
    transition: 0.5s;
    padding: 5px 5px;
    width: 150px;
    font-family: Poppins;
    border-radius: 2.5%;
    text-decoration: inherit;
    font-size: 3vw;
  }

  .card-empty::before, .card-empty::after, .card-empty>:first-child::before, .card-empty>:first-child::after {
    width: 22px;
    height: 22px;
  }
  .card-empty::before {
    top: 0;
    left :0;
    border-width: 0.95vw 0 0 0.95vw
  }
  .card-empty:after {
    top: 0;
    right: 0;
    border-width: 0.95vw 0.95vw 0 0
  }
  .card-empty>:first-child::before {
    bottom: 0;
    right: 0;
    border-width: 0 0.95vw 0.95vw 0
  }
  .card-empty>:first-child::after {
    bottom: 0;
    left: 0;
    border-width: 0 0 0.95vw 0.95vw
  }
  .empty-info-card {
    font-size: 2vw;
  }
  
}